/*  your css code here. If applicable */
.container{
   text-align:center;
	border:1px solid
}


.code-container {
	display:flex;
	justify-content:space-around;
	width:100%;
}

input{
	font-size:4rem;
	font-weight:100;
	 width:4rem;
	height:5rem; 
	border-color:black/5;
}